/LEMS/*.dat
SBML/*.dat
x86_64
i386
umac
/SBML/jsbml.log
Brian/results/*.dat
/NeuroML2/RS_v.dat
/NeuroML2/LEMS_Test_nrn.py
/NeuroML2/LavrentovichSBML.mod
/NeuroML2/RS.mod
/NeuroML2/RS_Iext.mod
/NeuroML2/SBML.dat
/NeuroML2/time.dat
/NeuroML2/LEMS_Test2_nrn.py
/NeuroML2/LavrentovichA.mod
/NeuroML2/LavrentovichB.mod
/NeuroML2/LavrentovichC.mod
/Brian/Lavrentovich2008_Ca_Oscillations.dat
/LEMS/BIOMD0000000184_LEMS_brian.py
/LEMS/BIOMD0000000184_LEMS_brian2.py
/NEURON/*.dat
*.gv*
/LEMS/BIOMD0000000184_LEMS.png
/NeuroML2/*.png
/tests.log
/NeuroML2/ex9.dat
/LEMS/tmp
arm64
/NeuroML2/*.mod
/NeuroML2/*_brian2.py
/NeuroML2/*_nrn.py
/NeuroML2/*.dat
/NeuroML2/report.*.txt
/SBML/*.pdf
/SBML/ex9.csv
/SBML/hr.csv
/test_suite/semantic/
/test_suite/SBML_test_suite/
/test_suite/semantic_tests_with_sedml_and_graphs.v*.zip*
.vscode
/BioModels/cache
/BioModels/tmplocalfiles
__pycache__
venv
/SBML/.DS_Store
/SBML/LEMS_NML2_Ex9_FN_missing_xmlns.omex
/SBML/output
*.egg-info
