name: Continuous build using OMV

on:
  push:
    branches: [master, development, experimental, test*, feature/*]
  pull_request:
    branches: [master, development, experimental, test*, feature/*]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11"]
        engine:
          [
            jLEMS,
            jNeuroML,
            jNeuroML_NEURON,
            jNeuroML_validate,
            PyLEMS,
            PyLEMS_NeuroML2,
            jNeuroML_Brian2,
            Brian2,
            pyNeuroML_validate_sbml,
          ]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python  ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install OMV
        run: |
          pip install git+https://github.com/OpenSourceBrain/osb-model-validation
          pip install scipy sympy matplotlib cython pandas tables

      - name: Run OMV tests on engine ${{ matrix.engine }}
        run: |
          omv all -V --engine=${{ matrix.engine }}

      - name: OMV final version info
        run: |
          omv list -V # list installed engines
          env
